@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
}

html, input {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: $color-black;
}

body {
	width: 100%;
	height: 100%;
	background-color: $color-dark;
}

main {
	display: grid;
	grid-template-columns: 5fr 2fr;
}

#weather-main {
	grid-column: 1/2;
	grid-row: 1/2;
	padding: 42px 64px;
	#location-form {

		label {
			
			h2, input {
				display: inline-block;
				font-size: 2.5rem;
				font-weight: 700;
				text-transform: uppercase;
			}
			
			h2 {
				margin-right: 8px;
			}

			#location-input {
				background-color: transparent;
				border: none;
				color: $color-main;
				
				transition: color 0.2s ease-in;

				&:focus {
					outline: none;
					color: $color-light;
				}

				&:placeholder-shown {
					text-decoration: underline dotted;
				}
			}
		}
		
	}
}

#weather-forecast {
	grid-column: 2/3;
	grid-row: 1/3;
}

#weather-details {
	grid-column: 1/2;
	grid-row: 2/3	;
}