@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
}

html, input {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: $color-light;
}

body {
	width: 100%;
	height: 100%;
	background-color: $color-black;
}

main {
	display: grid;
	grid-template-columns: 1fr 600px;
	padding: 42px 64px;
	gap: 42px;
}

#weather-main {
	grid-column: 1/2;
	grid-row: 1/2;
	
	#location-form {
		margin-bottom: 12px;

		label {
			h2, input {
				display: inline-block;
				font-size: 2.5rem;
				font-weight: 700;
				text-transform: uppercase;
			}
			
			h2 {
				margin-right: 8px;
			}

			#location-input {
				background-color: transparent;
				border: none;
				color: $color-accent-green;
				
				transition: color 0.2s ease-in;

				&:focus {
					outline: none;
					color: $color-white;
				}

				&:placeholder-shown {
					text-decoration: underline dotted;
					color: $color-light;
				}

				&.invalid {
					animation: shake 0.3s;
					color: $color-accent-orange;
				}
			}
		}
	}

	#location-details {
		font-size: 1.5rem;
		color: $color-main;
	}

	#current-weather-container {
		width: calc(100% - 64px * 2);
		padding: 12px;
		display: flex;
		gap: 128px;
		padding: 0 64px;

		#current-temperature-container {
			display: flex;
			flex-direction: column;
			gap: 12px;
			align-items: center;

			#current-temperature-label {
				color: $color-light;
				font-size: 6.2rem;
				text-align: center;

				&:not(:empty):after {
					content: '\2103';
				}
			}

			#feels-like-label {
				font-size: 1.8rem;
				color: $color-light;

				&:not(:empty) {
					&::before {
						content: 'Feels like ';
					}

					&::after {
						content: '\2103';
					}
				}
			}
		}

		#current-condition-container {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			gap: 16px;
			align-items: center;
			justify-content: end;

			#current-condition-label {
				font-size: 1.8rem;
				text-align: center;
			}

			#current-condition-icon {
				height: 70%;
				color: $color-light;
			}

		}
	}
	
}

#weather-forecast {
	grid-column: 2/3;
	grid-row: 1/3;

	background-color: $color-dark;
	border-radius: 24px;
	width: 100%;
	height: 100%;
}

#weather-details {
	grid-column: 1/2;
	grid-row: 2/3;

	background-color: $color-dark;
	margin-top: 32px;
	width: calc(100% - 64px * 2);
	height: auto;
	border-radius: 24px;
	padding: 64px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 64px 32px;

	.weather-details-element {
		display: flex;
		gap: 1rem;

		text-align: start;
		align-items: baseline;

		h3 {
			color: $color-main;
		}
	}
}


@keyframes shake {
	0% { transform: translateX(0) }
	25% { transform: translateX(5px) }
	50% { transform: translateX(-5px) }
	75% { transform: translateX(5px) }
	100% { transform: translateX(0) }
   }